.center { 
    text-align:center;
}

.center-page
{
    width:300px;
    height:300px;
    position:absolute;

    top:-40px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

.space-vert
{
    margin-top:20px;
}

.footer-pos
{
    width:auto;
    height:auto;
    position:absolute;

    top:600px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

body{
    padding-top:50px;
}

